body {
	background-color: #FDFDFD;
}


.container {
	text-align: center;
}


.head {
	display: block;
	margin-top: -1.1em;
	padding-top: 2em;
	width: 100%;
	background-color: #3388AF;
	font-size: 1.4em;
	height: 12em;
	color: white;
}

.head h1{
	font-size: 3em;
	font-weight: bold;
}